@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #f0f0f0; /* Light gray background */
  color: #333; /* Default text color */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Optional font */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
